
@import 'mainstyle.scss';

.boxwithlogo {
    display: flex; justify-content:space-between;
    div {display: block;}
    img {width: 26vw; margin: 0 0 0 3vw;}
}

.singleportrait {
    display: flex; justify-content: space-between;
    img {width: 9vw; padding: 0; margin: auto; display: block;}
    .imgbox {width: 18vw; margin: 0 0 0 3vw;}
    .name {
        color: $black;
        font-weight: 700;
        font-size: 1.05vw;
        text-align: center;
        margin: .5vw 0 .25vw 0;
        padding: 0;
        line-height: 125%;
        i {font-weight: 500; font-size: 95%;}
    }
    .appointment {
        font-style: italic;
        font-size: .95vw;
        text-align: center;
        margin: 0;
        padding: 0;
        line-height: 1.1vw;
    }
}

.activity {
    display: flex;
    .contactbox {
        background-color: $less-gold; padding: 1vw 1.5vw 0 1.5vw; width: 18vw; margin: 0 0 2vw 0;
        img {display: inline-block; height: 2vw; vertical-align: middle; padding: 0.25vw 1vw 0.25vw 0;}
        b {font-size: 1.3vw; font-weight: 900; color: $tint-gold;}
        p {font-size: 1.15vw; color: $black; font-weight: 700;}
    }
    .regulations {
        margin: 0 3vw 0 0;
        h3 {margin: 1.5vw 0 0.5vw 0; padding: 0;}
        h3:first-of-type {padding-top: 0; margin-top: 0;}
        p {padding-bottom: 0.5vw;}
        ul {margin: 0 0 0.5vw 0;}
        li {font-family: $content; font-size: 1.2vw; color: $grey; padding: 0.33vw 0;}
    }
}

details {
    margin: 0 2vw;
    h4 {display: inline-block; margin: 0; padding: 1vw 0 1vw 0.2vw; vertical-align: middle; text-transform: none; font-size: 1.4vw; font-weight: 700; color: $tint-cyan;}
    summary {
        padding: 4px;
        width: 75%;
        background-color: $less-cyan;
        border: none;
        box-shadow: 1px 1px 3px $grey;
        cursor: pointer;
        transition: 0.25s;
    }
    summary:hover {background-color: $dark-cyan; h4 {color: $white;}}
    br {line-height: 2vw; font-size: 2vw;}
}

table.resourcetable {
    border-collapse: collapse;
    width: 100%;
    @media only screen and (min-width: 1200px) {width: 80%;}
    th:nth-child(1), th:nth-child(2) {
        width: 25%;
    }
    th:nth-child(3), th:nth-child(4), th:nth-child(5), th:nth-child(6) {
        width: 12.5%;
    }
    th, td {
        font-family: $content;
        font-size: 18px;
        color: $black;
        padding: 5px;
        border: 1px solid $grey;
        text-align: left;
    }
}

table.honours {
    border-collapse: collapse;
    width: 100%;
    @media only screen and (min-width: 1200px) {width: 80%;}
    th:nth-child(1) {width: 8%;}
    th:nth-child(2) {width: 52%;}
    th:nth-child(3) {width: 40%;}
    th, td {
        font-family: $content;
        font-size: 18px;
        color: $black;
        padding: 10px;
        border: 1px solid $grey;
        text-align: left;
    }
    td:nth-child(1) {font-size: 22px; font-weight:700;}
    h4 {
        font-family: $content;
        font-size: 20px;
        text-transform: none;
    }
}