/*ORANGE: #febf2d*/
/*BLUE: #1db4d5*/

@import url(//fonts.googleapis.com/css?family=Open+Sans);

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.col-1 {width: 5%;}
.col-2 {width: 10%;}
.col-3 {width: 15%;}
.col-4 {width: 20%;}
.col-5 {width: 25%;}
.col-6 {width: 30%;}
.col-7 {width: 35%;}
.col-8 {width: 40%;}
.col-9 {width: 45%;}
.col-10 {width: 50%;}
.col-11 {width: 55%;}
.col-12 {width: 60%;}
.col-13 {width: 65%;}
.col-14 {width: 70%;}
.col-15 {width: 75%;}
.col-16 {width: 80%;}
.col-17 {width: 85%;}
.col-18 {width: 90%;}
.col-19 {width: 95%;}
.col-20 {width: 100%;}

[class^="col"] {
  float: left;
  padding: 0.7vw;
}

aside {
  border: 0.05vw solid #c20000;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

footer {
  background-color: #c20000;
  color: #ededed;
  padding: 2vw 8vw;
}

body {
  color: #555555;
  font-size: 1.15vw;
}

p {
  margin: 0 0 0 0;
  text-align: justify
}

hr {
  color: #c20000;
  margin: 0.5vw 0 0.5vw 0;
}

.imagecenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.textcenter {
  text-align: center;
}

h1 {
  color: #333333;
  font-size: 3.6vw;
  margin: 2vw 0 2vw 0;
}

h2 {
  color: #444444;
  font-size: 2.4vw;
  margin: 0 0 1vw 0;
}

h3 {
  color: #555555;
  font-size: 1.8vw;
  margin: 0 0 0.33vw 0;
}

h4 {
  color: #666666;
  font-size: 1.4vw;
  margin: 0 0 0 0;
  text-decoration: underline;
}

.headersub {
  color: #c20000;
  font-size: 1vw;
  font-weight: bolder;
  margin: 0 0 0.25vw 0;
  letter-spacing: 0.5vw;
  text-align: center;
}

.infobox {
  font-size: 1vw;
  margin: 0 0 0 0;
}

a:link {
  color: #333333;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #333333;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #111111;
  background-color: transparent;
  font-weight: bold;
  text-decoration: none;
}

a:active {
  color: #111111;
  background-color: transparent;
  text-decoration: underline;
}

th, td {
  padding: 5px;
  text-align: left;
}

.infotitle {
  text-align: center;
  font-size: 0.9vw;
  margin: 0 0 0 0;
}

.portrait {
  border-left: 0.33vw solid #999999;
  padding: 2vw;
  float: right;
  margin: 0 0 0 2.5vw;
}

.portrait_org {
  padding: 1.5vw;
}

.icon {
  position: relative;
  /* Adjust these values accordingly */
  top: 5px;
  left: 5px;
}

.infoboxlist {
  list-style-type: square;
  font-size: 1vw;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0.33vw 0 0 1.5vw;
}

.secondorder {
  padding: 0.22vw 0 0.55vw 1.5vw;
  font-weight: normal;
}

.orgtable {
  border: 0.075vw solid #777777;
  border-collapse: collapse;
  vertical-align: middle
}

th {
  background-color: #777777;
  color: #ededed;
}

tr.orgtable:hover {background-color: #ededed; color: #000000;}

.tablemain_h1 {
  font-weight: bold;
  font-size: 1vw;
}

.tablesub_h1 {
  color: #555555;
  font-size: 0.9vw;
  font-style: italic;
}

.tablemain_h2 {
  font-weight: bold;
  font-size: 1vw;
  padding: 0 0 0 2.5vw;
}

.tablename {font-size: 1vw;}

.officialblue {
    font-weight: bold;
    font-size: 1.1vw;
    text-align: center;
    color: #092367;
    text-transform: uppercase;
    margin-top: .75vw;
}

#indexheader {
    background-image: url(logos/Index%20Banner.png);
    background-size: cover;
}

body {
    margin:0;
    padding:0;
}

.sidenav {
    width: 100%; /* Set the width of the sidebar */
    position:static;
    background-color: #ededed;
    overflow-x: hidden;
}

.sidenav a {
    padding: 0.25vw 0.5vw;
    font-size: 1.11vw;
    color: #888888;
    display: block;
    font-weight: normal;
}

.sidenav a:hover {
    color: #092367;
    font-weight: bold;
}

.sidenav a:active {
    background-color: #092367;
    color: #ededed;
    font-weight: bold;
}

.footer{
    background-color:transparent;
    margin: 0;
    padding: 0;
}

#sidenav_img {
    padding: 1vw;
    width: 10vw;
    height: auto;
    display: block;
    margin-right:auto;
    margin-left: auto;
}

.sidenav .currentpage {
    padding: 0.25vw 0.5vw;
    background-color: #092367;
    font-size: 1.11vw;
    color: #ededed;
    font-weight: bold;
    display: block;
}

#tab1 {margin-left: 1.5vw;}
#tab2 {margin-left: 3vw;}
#tab3 {margin-left: 4.5vw;}

.gpseclist {
    font-size: 1vw;
    margin-top: 0.7vw;
}

.gpseclist li {
    margin: 0.5vw;
}

.privytitle {
    font-size: 0.75vw;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0.5vw;
    font-weight:bold;
}

.privyname {
    font-size: 1.05vw;
    text-align: center;
}

.privylord {
    font-size: 0.9vw;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 0.33vw;
}

.royalfamily {
    font-size: 0.8vw;
}

.royalfamilysub {
    font-size: 0.8vw;
    font-style: italic;
}

.royalfamily li{
    font-size: 0.9vw;
    margin: 0.45vw;
}