TEMPLATE {
color: HEX_VALUE;
text-align: LEFT_RIGHT_CENTER_JUSTIFY;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: MIN_16_MAX_50;
}

/*ORANGE: #febf2d*/
/*BLUE: #1db4d5*/

@import url(//fonts.googleapis.com/css?family=Open+Sans);

* {
font-family: 'Open Sans', sans-serif;
box-sizing: border-box;
}

body {
  color: #333333;
  font-size: 18px;
}

.center {
text-align: center;
}

.justify {
text-align: justify
}

h1 {
color: #555555;
font-size: 50px;
}